#!/bin/bash
until $(curl --output /dev/null --silent --head --fail  http://${Reach_Name}); do
    printf '.'
    sleep 5
done
secret=$(curl -s -u admin:admin http://${Reach_Name}/computer/slave-node/ | grep "secret" | sed -e 's#.*secret\(\)#\1#' | awk '{print$1}')
echo "export secret_key=$secret" >> /etc/profile.d/devops.sh
