#!/bin/bash
bash -c 'while [[ "$(curl -s -o /dev/null -w ''%{http_code}'' http://${Reach_Name})" != "200" ]]; do sleep 5; done'
#secret=$(curl -s -u admin:admin http://${Reach_Name}/computer/slave-node/ | grep "secret" | sed -e 's#.*secret\(\)#\1#' | awk '{print$1}')
#echo "export secret_key=$secret" >> /etc/profile.d/devops.sh
