---
version: "2.1"
services:
  master:
    image: govindcnd/jenkinsmastersalve
    ports:
    - "80:8080"
    - "50000:50000"
    volumes:
    - jenkins-master:/var/jenkins_home
    - ./config.xml:/var/jenkins_home/users/admin/config.xml
    - ./slave-node/config.xml:/var/jenkins_home/nodes/slave-node/config.xml
    - ./:/app
    - ./setup.sh:/usr/local/bin/setup.sh
    environment:
    - JAVA_OPTS=-Xmx1024m
    container_name: jenkinsmaster
#    command: 
#    - setup.sh
volumes:
  jenkins-master:
